@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form method="post">
        <input type="text" asp-for="Num1"/>
        <select asp-for="Operation" asp-items="Model.Operations"></select>
        <input type="text" asp-for="Num2"/>

        <button type="submit">Calculate</button>
    </form>
    <div>Result: @ViewData["Result"]</div>
</div>
